/* Quizzap Styling */

/* Setting up Variables
========================== */

// Fonts
$head-font: 'Raleway', sans-serif;
$body-font: 'Open Sans', sans-serif;

// Colors
$black: #151313;
$black-faded: rgba(21, 19, 19, 0.8);
$black-ultra-faded: rgba(21, 19, 19, 0.5);
$gray: #dee2d6;
$white: #f3f8f2;
$peach: #fcb07e;
$blue: #3581b8;

/* DEFAULTS
========================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $body-font;
  color: $black;
  background-color: $white;
}

/* Buttons
========================== */

button {
  border: none;
  outline: none;
  padding: 0.5em;
  margin-top: 2em;
  border-radius: 5px;
  font: 1.1em $body-font;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}



.backToMenu {
  margin-left: 1em;
  background-color: $gray;
  font-weight: bold;
}

.backToMenu:active,
.backToMenu:focus {
  background-color: #b1b4aa;
}





.tryAgain {
  background-color: $peach;
  color: $white;
}


.tryAgain:hover,
.backToMenu:hover {
  opacity: 0.6;
}

/* Quiz Component
========================== */



//  Timer and Progress Bar Components

.progressAndTimerContainer {
  display: flex;
  .timer {
    margin: 0 1em 0 0;
    width: 53px;
    font: 800 1.1em $body-font;
    color: $blue;
  }
  .progressBar {
    width: 85%;
    .progressStatus {
      margin: 0.5em 0 1em 0;
      font: lighter 0.6em $body-font;
      text-align: right;
      text-transform: uppercase;
      color: rgba(21,19,19, 0.5);
     
    }
    progress[value] {
      /* Reset the default appearance */
      -webkit-appearance: none;
      appearance: none;
      height: 1.4em;
      width: 100%;
    }
    progress[value]::-webkit-progress-bar {
      background-color: $white;
      border-radius: 2px;
      border: 1px solid $blue;
    }
    progress[value]::-webkit-progress-value {
      background-color: $blue;
    }
  }
}

/* Result Component
========================== */
.scoreContainer {
  text-align: center;
  p:first-child {
    margin-bottom: 1em;
    font-family: $head-font;
    text-transform: uppercase;
  }
  .score {
    display: inline-block;
    margin: 0;
    padding-bottom: 0.5em;
    font: 700 3em $body-font;
    text-transform: uppercase;
  }
  .result {
    font: 800 1.5em $head-font;
    margin-bottom: 0;
  }
}

.quizReview {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .itemContainer {
    display: flex;
    align-items: center;
    border: 1px solid $black-faded;
    border-radius: 10px;
    width: 20em;
    margin: 0.5em;
    .checkContainer {
      background-color: $blue;
    }
    .item {
      padding: 0 0.5em;
      .itemQuestion {
        font: 400 0.7em $body-font;
        text-align: left;
      }
      .userAnswer {
        text-transform: uppercase;
        font-size: 0.6em;
        .answer {
          text-transform: initial;
          font-weight: bold;
        }
      }
    }
  }
}

.resultButtonContainer {
  font-size: 0.9em;
}


