/* Quizzap Styling */
/* Setting up Variables
========================== */
/* DEFAULTS
========================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F3F8F2;
  font-family: "Open Sans", sans-serif;
  color: #151313;
}

#root {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100vh;
  padding: 2em;
  text-align: center;
}

/* INTRO
========================== */
h1 {
  font-family: "Raleway", sans-serif;
}
h1 .title {
  color: #FCB07E;
}

.subtext {
  margin-bottom: 5em;
  font-size: 0.8em;
  font-weight: lighter;
}

.selector {
  text-transform: uppercase;
}
.selector select {
  outline: none;
  width: 16em;
  padding: 0.5em;
  border: 0.5px solid #DEE2D6;
  font: lighter 0.8em "Open Sans", sans-serif;
}

.side-svg-container {
  display: none;
}

/* BUTTONS */
button {
  border: none;
  outline: none;
  padding: 0.5em;
  margin-top: 2em;
  border-radius: 5px;
  font: 1.1em "Open Sans", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.startQuiz {
  color: #F3F8F2;
  background-color: #3581B8;
}

.startQuiz:active,
.startQuiz:focus {
  background-color: #28648f;
}

.next,
.prev {
  border: 2px solid #FCB07E;
  background-color: none;
  color: #FCB07E;
}

.next:active,
.prev:active,
.submit,
.tryAgain {
  background-color: #FCB07E;
  color: #F3F8F2;
}

.startQuiz:hover,
.next:hover,
.prev:hover,
.tryAgain:hover,
.submit:hover {
  opacity: 0.6;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.questionNumber {
  font: lighter 0.8em "Open Sans", sans-serif;
  color: rgba(21, 19, 19, 0.8);
  text-transform: uppercase;
}

.question {
  font: 1.3em "Raleway", sans-serif;
}

/* CHOICES */
.choicesContainer {
  list-style-type: none;
  padding: 0;
}
.choicesContainer li {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.choicesContainer li input[type=radio] {
  display: none;
}
.choicesContainer li input[type=radio]:checked + label {
  background-color: #3581B8;
  color: #F3F8F2;
}
.choicesContainer li label {
  display: flex;
  align-items: center;
  border: 1px solid #DEE2D6;
  border-radius: 20px;
  margin: 0.5em 0;
  padding: 0.7em;
  text-align: center;
  cursor: pointer;
}
.choicesContainer li label p {
  margin: auto;
}
.choicesContainer li label .choiceText {
  font-size: 1em;
}

/* RESULTS */
.resultsContainer {
  text-align: center;
}
.resultsContainer p {
  margin: 0;
}
.resultsContainer .score {
  font-size: 4em;
  font-weight: 700;
}
.resultsContainer .result {
  font-size: 2.5em;
  font-weight: 700;
}

/* MEDIA QUERIES
========================== */
@media screen and (min-width: 768px) {
  #root {
    margin: 1em;
    text-align: left;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  .content-container h1 {
    font-size: 3em;
  }
  .content-container .subtext {
    margin-bottom: 3em;
    font-size: 1.2em;
  }
  .content-container .selector {
    display: flex;
    margin: 1em;
    font-size: 1em;
  }
  .content-container .selector p {
    flex-basis: 10em;
  }
  .content-container .selector select {
    height: 3em;
    width: 13em;
    font-size: 1em;
  }

  .side-svg-container {
    display: block;
    margin-left: 1em;
  }
}

/*# sourceMappingURL=index.css.map */
