/* Quizzap Styling */

/* Setting up Variables
========================== */

// Fonts
$head-font: 'Raleway', sans-serif;
$body-font: 'Open Sans', sans-serif;

// Colors
$black: #151313;
$black-faded: rgba(21, 19, 19, 0.8);
$black-ultra-faded: rgba(21, 19, 19, 0.5);
$gray: #dee2d6;
$white: #f3f8f2;
$peach: #fcb07e;
$blue: #3581b8;

/* DEFAULTS
========================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $body-font;
  color: $black;
  background-color: $white;
}

#root {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100vh;
  padding: 2em;
  text-align: center;
}

/* Buttons
========================== */

button {
  border: none;
  outline: none;
  padding: 0.5em;
  margin-top: 2em;
  border-radius: 5px;
  font: 1.1em $body-font;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.startQuiz {
  color: $white;
  background-color: $blue;
}

.startQuiz:active,
.startQuiz:focus {
  background-color: #28648f;
}

.next,
.prev {
  border: 2px solid $peach;
  background-color: $white;
  color: $peach;
}

.backToMenu {
  margin-left: 1em;
  background-color: $gray;
  font-weight: bold;
}

.backToMenu:active,
.backToMenu:focus {
  background-color: #b1b4aa;
}

.next:focus,
.prev:focus {
  opacity: 0.8;
}

.next:active,
.prev:active,
.submit,
.tryAgain {
  background-color: $peach;
  color: $white;
}

.startQuiz:hover,
.next:hover,
.prev:hover,
.tryAgain:hover,
.submit:hover,
.backToMenu:hover {
  opacity: 0.6;
}

/* Intro Component
========================== */

// Text
h1 {
  font-family: $head-font;
  .title {
    color: $peach;
  }
}

.subtext {
  margin-bottom: 5em;
  font-size: 0.8em;
  font-weight: lighter;
}

.selector {
  text-transform: uppercase;
  select {
    outline: none;
    width: 16em;
    padding: 0.5em;
    border: 0.5px solid $gray;
    font: lighter 0.8em $body-font;
  }
}

.side-svg-container {
  display: none;
}

/* Quiz Component
========================== */

.questionNumber {
  font: lighter 0.8em $body-font;
  color: $black-faded;
  text-transform: uppercase;
}

.question {
  font: 1.3em $head-font;
}

// Choices
.choicesContainer {
  list-style-type: none;
  padding: 0;
  li {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    input[type='radio'] {
      display: none;
    }
    input[type='radio']:checked + label {
      background-color: $blue;
      color: $white;
    }
    label {
      display: flex;
      align-items: center;
      border: 1px solid $gray;
      border-radius: 20px;
      margin: 0.5em 0;
      padding: 0.7em;
      text-align: center;
      cursor: pointer;
      p {
        margin: auto;
      }
      .choiceText {
        font-size: 1em;
      }
    }
  }
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.loader {
  border: 16px solid $gray; /* Light grey */
  border-top: 16px solid $blue; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.timer {
  font-weight: 800;
  font-size: 1.5em;
  margin-bottom: 2em;
  color: $blue;
}

/* Result Component
========================== */
.resultsContainer {
  text-align: center;
  p:first-child {
    margin-bottom: 1em;
    font-family: $head-font;
    text-transform: uppercase;
  }
  .score {
    display: inline-block;
    margin: 0;
    padding: 1em 0.8em;
    border: 20px solid $blue;
    border-radius: 50%;
    font: 700 4em $body-font;
  }
  .result {
    font: 800 2.5em $head-font;
  }
}

.resultButtonContainer {
  font-size: 0.9em;
}

/* MEDIA QUERIES
========================== */
@media screen and (min-width: 768px) {
  #root {
    text-align: left;
  }

  /* Intro Component
  ========================== */

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    .content-container {
      h1 {
        font-size: 3em;
      }
      .subtext {
        margin-bottom: 3em;
        font-size: 1.2em;
      }
      .selector {
        display: flex;
        margin: 1em;
        font-size: 1em;
        p {
          flex-basis: 8em;
        }
        select {
          height: 3em;
          width: 13em;
          font-size: 1em;
        }
      }
    }
    .side-svg-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 1.5em;
    }
  }

  /* Quiz Component
  ========================== */
  .questionNumber {
    font-size: 1em;
  }

  .question {
    margin-bottom: 2em;
    font-size: 1.5em;
  }

  .quizProper {
    margin: 5em;
    .content-container,
    .side-svg-container {
      width: 50%;
    }
  }
}
